.container:-webkit-full-screen,
.container:-moz-full-screen,
.container:-ms-fullscreen,
.container:fullscreen {
    width: 100%;
    height: 100%;
    background: cover;
    } 

.landingTitle, .playerDisplay{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 600%;

}
.landingTitle {
  cursor: pointer;
}

.leggo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 600%;
  color: red;
}

.sorry {
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 300%;
    color: red;
  
}

.tyler {
  display: flex;
  justify-content: right;
  /* font-weight: bold; */

}

.reRollButton {
  color: red;
  font-size: 25%
}
